@font-face {
	font-family: 'Avenir LT Std 65 Medium';
	src: local('Avenir LT Std 65 Medium'),
		url('../src/fonts/FontsFree-Net-AvenirLTStd-Black.ttf') format('truetype');
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primaryColor: #f3ba2c;
	--mainWhite: #fff;
}
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Avenir LT Std 65 Medium', 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #0d0d0d !important;
	color: var(--mainWhite);
}

code {
	font-family: Avenir LT Std 65 Medium, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	font-weight: ;
}
